# ignore all TS files
*.ts

# except TS declaration files
!*.d.ts

# individual repo files that shouldn't be published
.editorconfig
.eslintrc.cjs
Gruntfile.js
jest.config.js
dbos-config.yaml
tsconfig.json
tsconfig.*.json
version.json
dbos-test-config.yaml

# repo folders that shouldn't be published
.vscode/
.github/
tests/
coverage/
packages/
dist/packages/

# ignore any packed packages in the repo
*.tgz

# Include only the code from the examples directory
!examples/**
examples/hello/.dbos
examples/hello/dbos_deploy
examples/hello/dist
examples/hello/node_modules
