name: Create DBOS Package Artifact

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0 # fetch-depth 0 needed for NBGV
      - name: Use Node.js 20
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'
      - name: Nerdbank.GitVersioning
        id: nbgv
        uses: dotnet/nbgv@v0.4.2
        with:
          setAllVars: true
      - name: Install Dependencies
        run: npm ci
      - name: Stamp Packages Version
        run: npm version --workspaces --include-workspace-root --no-git-tag-version "$NBGV_NpmPackageVersion" --verbose
        env:
      - name: Build Packages
        run: npm run build --workspaces --include-workspace-root
      - name: Pack Packages
        run: |
          mkdir ./out
          npm pack --workspaces --include-workspace-root --pack-destination ./out
      - name: Upload Packages artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: packages
          path: out/dbos-inc-*.tgz
