name: Test Operon

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    # Service container for Postgres
    services:
      # Label used to access the service container.
      postgres:
        image: postgres:15.4
        env:
          # Specify the password for Postgres superuser.
          POSTGRES_PASSWORD: dbos
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
  
    steps:
      - name: "Setup postgres config"
        run: |
          docker exec -i ${{ job.services.postgres.id }} apt update
          docker exec -i ${{ job.services.postgres.id }} apt install -y postgresql-15-wal2json
          docker exec ${{ job.services.postgres.id }} sh -c 'echo "wal_level=logical" >> /var/lib/postgresql/data/postgresql.conf'
          docker restart ${{ job.services.postgres.id }}
      - uses: actions/checkout@v3
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
        # .NET 6 needed for NBGV
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: npm ci
        working-directory: ./
        run: |
          npm ci
      - name: Set Version 
        working-directory: ./
        run: |
          npm run setversion
      - name: Compile and Test
        working-directory: ./
        run: |
          npm run build
          npm test
          npm run lint
        env:
          DB_PASSWORD: dbos
          DB_USER: postgres
      - name: Upload package
        uses: actions/upload-artifact@v3
        with:
          name: operon
          path: ./dbos-inc-operon-*.tgz